.playtoearnbox{
	.gamesbox a{
		  display: inline-block;
		  padding: 0 8px;
		  height: 30px;
		  line-height: 30px;
		  background: #F3F5F7;
		  border-radius: $border-radius-size20;
		  margin-right: 8px;
		  margin-bottom: 8px;
		  [theme=dark] & {
		     background: #454545;
		  }
		  [theme=black] & {
		    background: #2d2d2d;
		  }
	}
	.gamesbox a:hover{
		  background-color: $zdy_color1;
		  color: #fff;
	}
	.indexgameslibox{
		margin-top: 20px;
		.gtypesbox{
			display: block;
			line-height: 18px;
			height: 18px;
			overflow: hidden;
			color: $zdy_color1;
			@include box(vertical);
			-webkit-line-clamp: 1;
			font-size: 12px;
		}
		.gtypesbox a{
			font-size: 12px;
			color: $zdy_color6;
			
		}
		.gtypesbox a:hover{
			color: $single-link-color;
		}
		.indexgamesli{
			float: left;
			width: 50%;
			
			margin-bottom: 12px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		.indexgamesli:nth-of-type(odd){
			padding-right: 6px;
		}
		.indexgamesli:nth-of-type(even){
			padding-left: 6px;
		}
		.single{
			box-shadow: $zdy-bordershow;
			padding: 15px;
			background: $zdy-bg1;
			border-radius: $border-radius-size20;
			display: flex;
			display: -webkit-flex;
			
			[theme=dark] & {
			  box-shadow: $zdy-bordershow-dark;
			  background: $zdy-bg-dark;
			}
			[theme=black] & {
			  box-shadow: $zdy-bordershow-black;
			  background: $zdy-bg-black;
			}
		}
		.single:hover{
			[theme=light] & {
			 box-shadow: $zdy-bordershow-hover;
			}
			[theme=auto] & {
			  box-shadow: $zdy-bordershow-hover;
			}
			.featured-image-preview{
				@include transform(scale(1.05));
			}
		}
		.featured-image-preview {
		 width: 90px;
		 height: 90px;
		  overflow: hidden;
		  position: relative;
		  border-radius: $border-radius-size15;
		  @include transition(transform 0.4s ease);
		
		  img {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    @include object-fit(none);
		  }
		
		  img.lazyloaded {
		    @include object-fit(cover);
		  }
		
		  &:hover {
		    @include transform(scale(1.01));
		  }
		}
		
		.zdy_rightbox{
			padding-left: 9px;
			overflow: hidden;
			flex: 1;
			-webkit-flex: 1;
			.single-title{
				padding-top: 6px;
				margin: 0;
				font-size: 15px;
				font-weight: bold;
				color: $header-font-color;
				line-height: 24px;
				overflow: hidden;
				@include box(vertical);
				-webkit-line-clamp: 1;
				// margin: 0 auto;
				a{
					display: block;
				}
			}
			.content{
				font-size: 13px;
				font-weight: 400;
				color: $zdy_color2;
				line-height: 18px;
				overflow: hidden;
				height: 36px;
				@include box(vertical);
				-webkit-line-clamp: 2;
				p{margin: 0;}
				[theme=dark] & {
				  color: $global-font-secondary-color-dark;
				}
				[theme=black] & {
				  color: $global-font-secondary-color-black;
				}
			}
		}
	}
}