<div class="zdy_pageadbox4">
{{- $pages := where .Site.RegularPages "Type" "ads" -}}
{{- range $elem_index, $elem_val :=$pages -}}

{{- $params := .Params | merge .Site.Params.page -}}

	{{- /* Featured image */ -}}
	{{- $image := $params.featuredImagePreview | default $params.featuredImage -}}
	{{- $height := "auto" -}}
	{{- $width := "auto" -}}
	{{- with .Resources.GetMatch (printf "%s" ($image)) -}}
	    {{- $image = .RelPermalink -}}
	    {{- $height = .Height -}}
	    {{- $width = .Width -}}
	{{- end -}}
	{{- with .Resources.GetMatch "featured-image" -}}
	    {{- $image = .RelPermalink -}}
	    {{- $height = .Height -}}
	    {{- $width = .Width -}}
	{{- end -}}
	{{- with .Resources.GetMatch "featured-image-preview" -}}
	    {{- $image = .RelPermalink -}}
	    {{- $height = .Height -}}
	    {{- $width = .Width -}}
	{{- end -}}
	{{ if (and (eq $params.adtype "4") (or (eq $params.adshow "all") (eq $params.adshow "other"))) }}
		<span adico="{{ T `ad` }}" class="zdy_ad4" ihref="{{ $params.link }}" lsrc="{{.RelPermalink}}{{$params.featuredImage | relURL }}" rsrc="{{.RelPermalink}}{{$params.featuredImage1 | relURL }}"></span>
	{{- end -}}
{{- end -}}
</div>
<script type="text/javascript">
	var Addata4 = {
		adbl:660/130,//660/130
		showad4index:null,
		init:function(){
			var _this = this;
			_this.dom = $(".zdy_pageadbox4");
			_this.domli = $(".zdy_pageadbox4 .zdy_ad4");
			if(_this.domli.length>0){
				_this.showad4index = _this.randomNum(0,_this.domli.length-1);
				var td = _this.domli.eq(_this.showad4index);
				var addoms = ['<a target="_blank" href="',
						td.attr("ihref"),
						'">',
						'<span class="adico">',
						td.attr("adico"),
						'</span>',
						'<img src="',
						td.attr("lsrc"),
						'">',
					'</a><span class="closegg">x</span>'].join("")
				_this.dom.html(addoms);
				_this.dom.find(".closegg").on("click",function(){
					_this.dom.remove()
				})
				_this.ad_resizefn();
			}
			$(window).on("resize",function(){
				if(_this.domli.length>0){
					_this.ad_resizefn();
				}
			});
		},
		ad_resizefn:function(){
			var _this = this;
			setTimeout(function(){
				var w = _this.dom.outerWidth()/_this.adbl
				_this.dom.css("height",w)
			})
		},
		randomNum:function(minNum,maxNum){
			switch(arguments.length){
				case 1: 
					return parseInt(Math.random()*minNum+1,10); 
				break; 
				case 2: 
					return parseInt(Math.random()*(maxNum-minNum+1)+minNum,10); 
				break; 
					default: 
						return 0; 
					break; 
			} 
		}
	}
	Addata4.init();
</script>
