{{- define "list" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}
{{- define "content" -}}
{{- $jqueryjs := resources.Get "js/zdycj/jquery.min.js" -}}
{{- $fontsjs := resources.Get "js/zdycj/fonts.js" -}}
<script type="text/javascript" src="{{ $jqueryjs.RelPermalink }}"></script>
<script type="text/javascript" src="{{ $fontsjs.RelPermalink }}"></script>

<div class="page alllist_conbox tagslist_conbox">
	{{ .Scratch.Set "sidebartype" "Tags" }}
	<!-- ad -->
	{{ partial "main/ad" . -}}
	<!-- 小导航 -->
	{{ partial "main/smheadnav" . -}}
	<div class="conbox" id="alllist_con">
		<!-- 侧边栏 -->
		{{ partial "main/sidebar1" . -}}
		
		<div class="pagelistcon">
			<p class="title">
				{{ $sidebartype := .Scratch.Get "sidebartype" }}
				{{if eq $sidebartype .Title}}
				 {{ T `all`}}
				{{else}}
				 {{ .Title }}
				{{end}}
			</p>
			
			<div class="clear">
				{{- $tags := .Site.Params.list.tags -}}
				{{- if eq .Title "Tags" -}}
					{{- $pages := where .Site.RegularPages "Params.hidePage" "!=" true -}}
					
					{{- with $tags.paginate | default .Site.Params.paginate -}}
						{{- $pages = $.Paginate $pages . -}}
					{{- else -}}
						{{- $pages = .Paginate $pages -}}
					{{- end -}}
					{{- range $pages.Pages -}}
						{{ if .Params.news}}
							<div class="zdy_newslistli">
								{{- .Render "summary" -}}
							</div>
						{{ else if .Params.navigation}}
							<div class="zdy_navslistli">
								{{- partial "summary/tags_summary.html" . -}}
							</div>
						{{ else if .Params.games}}
							<div class="zdy_gameslistli">
								{{- .Render "summary" -}}
							</div>
						{{ else if .Params.community}}
							<div class="zdy_communitylistli">
								{{- .Render "summary" -}}
							</div>
						{{end}}
					{{- end -}}
					{{- partial "paginator.html" . -}}
					
				{{- else -}}
					{{- $pages := .Pages -}}
					{{- $pages := where $pages "Params.hidePage" "!=" true -}}
					{{- with $tags.paginate | default .Site.Params.paginate -}}
						{{- $pages = $.Paginate $pages . -}}
					{{- else -}}
						{{- $pages = .Paginate $pages -}}
					{{- end -}}
					{{- range $pages.Pages -}}
						{{ if .Params.news}}
							<div class="zdy_newslistli">
								{{- .Render "summary" -}}
							</div>
						{{ else if .Params.navigation}}
							<div class="zdy_navslistli">
								{{- partial "summary/tags_summary.html" . -}}
							</div>
						{{ else if .Params.games}}
							<div class="zdy_gameslistli">
								{{- .Render "summary" -}}
							</div>
						{{ else if .Params.community}}
							<div class="zdy_communitylistli">
								{{- .Render "summary" -}}
							</div>
						{{end}}
					{{- end -}}
					{{- partial "paginator.html" . -}}
				{{- end -}}
			</div>
		</div>
	</div>
</div>

{{- end -}}
