.gamesinglebox{
	flex: 1;
	-webkit-flex: 1;
	padding:0 20px 0 10px;
	
	overflow: hidden;
}
.gamesingle_w{
	.topbox{
		display: flex;
		display: -webkit-flex;
		padding: 20px 0 20px;
		.featured-image{
			width: 128px;
			height: 128px;
			border-radius: 15px;
			overflow: hidden;
			margin: 0;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.conbox{
			padding-left: 10px;
			flex: 1;
			-webkit-flex: 1;
			overflow: hidden;
			.single-title{
				margin-top: 1rem;
				width: 100%;
				height: 30px;
				font-size: 30px;
				font-weight: bold;
				line-height: 30px;
				overflow: hidden;
				@include box(vertical);
				-webkit-line-clamp: 1;
			}
			.single-description{
				width: 100%;
				height: 48px;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				@include box(vertical);
				-webkit-line-clamp: 2;
				margin: 0;
				overflow: hidden;
			}
		}
		.rightbox{
			text-align: center;
			align-items: center;
			.num{
				margin: 1rem 0 0.5rem;
				font-size: 30px;
				font-weight: bold;
				color: $single-link-color;
				line-height: 30px;
			}
			.text1{
				font-size: 16px;
				font-weight: bold;
				margin:0 0 4px ;
				line-height: 24px;
			}
			.linkbtn{
				display: inline-block;
				width: 114px;
				height: 50px;
				background: $zdy_btn1_bg;
				border-radius: 15px;
				font-size: 17px;
				font-weight: bold;
				color: $zdy_btn1_color;
				line-height: 50px;
				text-align: center;
			}
			.linkbtn:hover{
				background: $zdy_btn1_color-hover;
			}
		}
	}
	.post-nav{
		display: none;
	}
	.relevantbox{
	  padding: 20px 0;
	  width: 200px;
	  .titbox{
		  margin-bottom: 10px;
		  line-height: 28px;
	  }
	  .tit{
		  font-size: 17px;
		  font-weight: bold;
		  margin: 0;
		  float: left;
	  }
	  .morebtn{
		  float: right;
		  font-size: 14px;
	  }
	  [theme=auto] & {
	    .morebtn{
	    	color: $zdy_color8;
	    }
	    .morebtn:hover {
	      color: $global-link-hover-color;
	    }
	  }
	  [theme=light] & {
	    .morebtn{
	    	color: $zdy_color8;
	    }
	    .morebtn:hover {
	      color: $global-link-hover-color;
	    }
	  }
	}
	.conrelevantbox{
		display: none;
		width: 100%;
		
		overflow: hidden;
		position: relative;
		padding-bottom: 10px;
		.single-title{
			border-bottom: none;
			text-align: left;
			margin-bottom: 0;
		}
		.swiper {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
		  }
	
		  .swiper-slide {
			text-align: center;
			font-size: 18px;
	
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		  }
	
		  .swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		  }
	}
	.gamesmsgbox1{
		width: 100%;
		// display: flex;
		// display: -webkit-flex;
		border: 1px solid $gangbg-dark;
		[theme=auto] & {
			border: 1px solid $gangbg;
		}
		[theme=light] & {
			border: 1px solid $gangbg;
		}
		border-radius: 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		table{
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
		}
		
		tr{
			border-bottom: 1px solid $gangbg-dark;
			[theme=auto] & {
				border-bottom: 1px solid $gangbg;
			}
			[theme=light] & {
				border-bottom: 1px solid $gangbg;
			}
		}
		tr:last-child{
			border-bottom: none;
		}
		td,th {
		    padding: 0;
		}
		tbody tr{
			border-bottom: none;
		}
		th,td{
			border-right: 1px solid $gangbg-dark;
			[theme=auto] & {
				border-right: 1px solid $gangbg;
			}
			[theme=light] & {
				border-right: 1px solid $gangbg;
			}
		}
		th:last-child,
		td:last-child{
			border-right: none;
		}
		.tittext{
			padding: 15px 0;
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			// height: 50px;
			margin: 0;
			
		}
		tbody,tr{
			width: 100%;
		}
		.smcon{
			padding: 15px 0;
			// display: flex;
			text-align: center;
			// display: -webkit-flex;
			// align-items:center;
			// -webkit-align-items:center;
			// flex-wrap: wrap;
			span{
				display: inline-block;
				padding: 0 10px;
				height: 20px;
				border-radius: 5px;
				font-size: 12px;
				font-weight: bold;
				color: $zdy_fontcolor1;
				line-height: 20px;
				margin: 0 4px;
			}
			span.red{
				background: $zdy_color10;
			}
			span.green{
				background: $zdy_color11;
			}
		}
		
	}
	.botmtit{
		padding: 10px 0;
		margin: 0;
		font-size: 18px;
		font-weight: bold;
		line-height: 26px;
		height: 26px;
		span{
			padding-right: 5px;
			font-size: 20px;
		}
	}
	.socialcontactbox{
		display: flex;
		display: -webkit-flex;
		margin-bottom: 20px;
		.tit{
			flex: 1;
			-webkit-flex: 1;
			color:$zdy_color4;
			[theme=dark] & {
				color:$zdy_color5;
			}
			[theme=black] & {
				color:$zdy_color5;
			}
			font-size: 14px;
			margin: 0;
		}
		.zcon{
			
			border-radius: 10px;
			
			a{
				float: left;
				height: 26px;
				width: 26px;
				background: $zdy_color9;
				
				[theme=dark] & {
					color: #a4a5a8;
				}
				[theme=black] & {
					color: #a4a5a8;
				}
				border-radius: $border-radius-size5;
				margin-right: 5px;
				text-align: center;
			}
		}
	}
	.socialcontactbox,
	.gamescreenbox{
		// padding: 0 2px;
	}
	.gamescreenbox{
		.zcon{
			padding: 24px 20px;
			border-radius: 10px;
			margin-bottom: 10px;
			position: relative;
			background: $global-background-color;
			box-shadow: $zdy-bordershow;
			[theme=dark] & {
			  box-shadow: $zdy-bordershow-dark;
			  background: $zdy-bg-dark;
			}
			[theme=black] & {
			  box-shadow: $zdy-bordershow-black;
			  background: $zdy-bg-black;
			}
		}
		.gamescreenswiper{
			width: 100%;
			overflow: hidden;
		}
		.gamescreenlistli{
			width: 132px;
			height: 132px;
			border-radius: 5px;
			display: block;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				cursor: zoom-in;
			}
		}
	}
	.supportedntfsbox{
		// padding: 0 2px;
		.zcon{
			li{
				float: left;
				padding: 26px 26px 13px;
				background: $global-background-color;
				box-shadow: $zdy-bordershow;
				border-radius: 15px;
				[theme=dark] & {
				  box-shadow: $zdy-bordershow-dark;
				  background: $zdy-bg-dark;
				}
				[theme=black] & {
				  box-shadow: $zdy-bordershow-black;
				  background: $zdy-bg-black;
				}
				.imgbox{
					width: 80px;
					height: 80px;
					overflow: hidden;
					border-radius: 15px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					margin: 0 auto;
				}
				a{
					display: block;
					.tit{
						text-align: center;
						font-size: 14px;
						font-family: Source Han Sans CN;
						font-weight: 400;
						
						[theme=auto] & {
						  color: $global-font-color;
						}
						[theme=light] & {
						  color: $global-font-color;
						}
						
						
						
						line-height: 30px;
						margin: 0;
					}
				}
				a:hover .tit{
					[theme=light] & {
					  color: $global-link-hover-color;
					}
					[theme=auto] & {
					  color: $global-link-hover-color;
					}
				}
				
				// padding: 24px 20px;
				// border-radius: 10px;
				// margin-bottom: 10px;
				// position: relative;
				// background: $global-background-color;
				// box-shadow: 0px 0px 8px 0px $zdy-bordershow;
				
			}
		}
	}
	.content{
		font-size: 14px;
	}
}

.viewimagebox{
	display: none;
}
.gamescreenswiper .swiper-button-next,
.gamescreenswiper .swiper-button-prev{
	 margin-top: -12px;
	 width: 24px;
	 height: 24px;
	 background-size: 100% 100%;
	 
 }
.gamescreenswiper .swiper-button-next,
.gamescreenswiper .swiper-container-rtl .swiper-button-prev{
	right: 20px;
}
.gamescreenswiper .swiper-button-prev,
.gamescreenswiper .swiper-container-rtl .swiper-button-next{
	left: 20px;
}
.swiper-wrapper{
	z-index: 0 !important;
}